<% if model.errors.any? %>
    <div class = "alert-warning">
      <h2 class="formerror">form error</h2>
        <ul>
            <% model.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>